.buttonfly {
  display: inline-block;
  position: relative;
  transform-origin: left;
  transition: transform 0.1s ease;
}

.buttonfly__wrap {
  width: 10000px;
}
.buttonfly--only-wrap-main .buttonfly__wrap {
  position: absolute;
}

.buttonfly__row {
  display: block;
}

.buttonfly__button {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 12px 36px;

  color: white;
  font-size: 24px;
  text-decoration: none;
}

.buttonfly__button--child {
  /* Transition duration (second value) is being set by the JS. */
  /* It's useless to modify it here. */
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.buttonfly__button--var0 {
  background-color: rgb(101, 103, 194);
  border: 1px solid rgb(45, 47, 126);
}
.buttonfly__button--var1 {
  background-color: rgb(101, 152, 194);
  border: 1px solid rgb(45, 94, 126);
}
.buttonfly__button--var2 {
  background-color: rgb(125, 101, 194);
  border: 1px solid rgb(64, 45, 126);
}
.buttonfly__button--var3 {
  background-color: rgb(164, 101, 194);
  border: 1px solid rgb(100, 45, 126);
}

.buttonfly--hidden .buttonfly__button--child {
  transform: scale(0);
  opacity: 0;
}
.buttonfly__row--top .buttonfly__button--child {
  transform-origin: bottom left;
}
.buttonfly__row--middle .buttonfly__button--child {
  transform-origin: left;
}
.buttonfly__row--bottom .buttonfly__button--child {
  transform-origin: top left;
}

.buttonfly__button--main {
  background-color: rgb(101, 144, 194);
  border: 1px solid rgb(45, 82, 126);
}
