.buttonfly {
  transform-origin: left;
  transition: transform 1px ease;
}

.buttonfly__row {
  display: block;
}

.buttonfly__button {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 12px 36px;

  background-color: rgb(101, 103, 194);
  border: 1px solid rgb(45, 47, 126);

  color: white;
  font-size: 24px;
  text-decoration: none;
}

.buttonfly__button--child {
  /* Transition duration (second value) is being set by the JS. */
  /* It's useless to modify it here. */
  transition: transform 0.25s ease;
}

.buttonfly--hidden .buttonfly__button--child {
  transform: scale(0);
}
.buttonfly__row--top .buttonfly__button--child {
  transform-origin: bottom left;
}
.buttonfly__row--middle .buttonfly__button--child {
  transform-origin: left;
}
.buttonfly__row--bottom .buttonfly__button--child {
  transform-origin: top left;
}

.buttonfly__button--main {
  background-color: rgb(101, 144, 194);
  border: 1px solid rgb(45, 82, 126);
}
