.buttonfly__row {
  display: block;
}

.buttonfly__button {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  margin: 0;
  padding: 6px 12px;

  color: white;
  background-color: rgb(101, 103, 194);
  border: 1px solid rgb(45, 47, 126);
}

.buttonfly__button--main {
  background-color: rgb(101, 144, 194);
  border: 1px solid rgb(45, 82, 126);
}
